# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5434/local"
ORIGIN="http://localhost:5432"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google OAuth
# https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Facebook OAuth
# https://www.better-auth.com/docs/authentication/facebook
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""

# Twitter OAuth
# https://www.better-auth.com/docs/authentication/twitter
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""
